

   <!-- Hero Section -->
   <section
     class="bg-schildklier-purple relative overflow-hidden min-h-[724px] flex items-center"
   >
     <!-- Background decorative element -->
     <div class="absolute inset-0">
       <svg
         class="absolute left-0 top-0 w-full h-full opacity-8"
         viewBox="0 0 400 724"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         preserveAspectRatio="xMidYMid slice"
       >
         <path
           d="M-374.334 763.536C-405.923 494.713 -296.54 -71.095 393.705 -183.745C427.85 82.518 322.045 644.742 -374.334 763.536Z"
           fill="black"
           fill-opacity="0.08"
         />
       </svg>
     </div>


     <div class="max-w-8xl mx-auto px-6 py-16 lg:py-24 lg:px-40 relative z-10">
       <div class="grid lg:grid-cols-2 gap-12 lg:gap-16 items-center">
         <!-- Left content -->
         <div class="space-y-8 lg:space-y-12">
           <!-- Main heading -->
           <h1
             class="text-white font-bold text-4xl md:text-5xl lg:text-6xl xl:text-[66px] leading-tight lg:leading-[72px]"
           >
             Onafhankelijke en betrouwbare informatie over de schildklier
           </h1>


           <!-- Search bar -->
           <div class="relative">
             <div
               class="bg-white rounded-[20px] shadow-[0_6px_0_rgba(0,0,0,0.1)] p-3"
             >
               <div class="flex items-center gap-5">
                 <input
                   type="text"
                   placeholder="Waar ben je naar op zoek?"
                   class="flex-1 text-lg md:text-xl text-gray-600 placeholder-gray-500 bg-transparent border-none outline-none font-medium"
                 />
                 <button
                   class="bg-schildklier-purple hover:bg-schildklier-purple/90 rounded-[10px] w-[59px] h-[59px] flex items-center justify-center transition-colors"
                 >
                   <svg class="w-5 h-5" fill="white" viewBox="0 0 21 21">
                     <path
                       d="M19.7089 17.4173L16.0133 13.7217C15.7358 13.4442 15.3821 13.2955 15.0203 13.2603C16.1344 11.872 16.804 10.1132 16.804 8.19856C16.804 3.72523 13.1646 0.0858765 8.6913 0.0858765C4.21796 0.0858765 0.578613 3.72523 0.578613 8.19856C0.578613 12.6719 4.21796 16.3113 8.6913 16.3113C10.3793 16.3113 11.9477 15.792 13.2474 14.9061C13.2571 15.3085 13.4123 15.7077 13.719 16.0159L17.4146 19.7115C17.731 20.0285 18.1469 20.187 18.5617 20.187C18.9766 20.187 19.3925 20.0285 19.7089 19.7115C20.3427 19.0782 20.3427 18.0512 19.7089 17.4173ZM8.6913 13.607C5.70908 13.607 3.28284 11.1819 3.28284 8.19856C3.28284 5.21634 5.70908 2.79011 8.6913 2.79011C11.6735 2.79011 14.0998 5.21634 14.0998 8.19856C14.0998 11.1819 11.6735 13.607 8.6913 13.607Z"
                     />
                   </svg>
                 </button>
               </div>
             </div>
           </div>


           <!-- Popular search terms -->
           <div class="flex flex-wrap items-center gap-4 text-white">
             <span class="text-base md:text-lg">Populaire zoektermen:</span>
             <div class="flex flex-wrap gap-4">
               <a
                 href="#"
                 class="text-base md:text-lg underline hover:no-underline transition-all"
               >
                 Zwangerschap
               </a>
               <a
                 href="#"
                 class="text-base md:text-lg underline hover:no-underline transition-all"
               >
                 Voeding
               </a>
               <a
                 href="#"
                 class="text-base md:text-lg underline hover:no-underline transition-all"
               >
                 Schildkliertelefoon
               </a>
             </div>
           </div>
         </div>


         <!-- Right image -->
         <div class="order-first lg:order-last">
           <div class="relative">
             <img
               src="https://placehold.co/1200x900/lightgray/svg"
               alt="Vrouw in de natuur - SchildklierNL"
               class="w-full h-auto rounded-lg shadow-lg object-cover"
             />
           </div>
         </div>
       </div>
     </div>
   </section>


