---
layout: base
description: Cupidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco exercitation tempor. Sint aliqua anim nulla sunt mollit id pariatur in voluptate cillum.
image-library: landscape
color: lightgray
eleventyNavigation:
key: Home
order: 1
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="component">
        <img class="laag" src="img/image.svg" />
        <div class="div">
          <div class="div-2">
            <div class="div-wrapper"><div class="text-wrapper">Starten</div></div>
            <div class="div-wrapper"><div class="text-wrapper">Groeien</div></div>
            <div class="div-wrapper"><div class="text-wrapper">Vernieuwen</div></div>
          </div>
          <div class="div-3">
            <div class="rectangle"></div>
            <div class="rectangle"></div>
            <div class="rectangle"></div>
          </div>
          <div class="magnifying-glass"><img class="x-magnifying-glass" src="img/x32-magnifying-glass.png" /></div>
          <div class="group-wrapper">
            <div class="group"><div class="text-wrapper-2">Vragen?</div></div>
          </div>
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="div-4">
          <img class="vector" src="img/vector.svg" />
          <div class="div-5">
            <div class="text-wrapper-3">Starten in het onderwijs</div>
            <p class="p">
              Intro over starten in het onderwijs. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <img class="img" src="img/laag-1.svg" />
          <div class="overlap-wrapper">
            <div class="overlap">
              <img class="laag-2" src="img/laag-1-2.svg" />
              <div class="group-2">
                <div class="overlap-group-wrapper">
                  <div class="overlap-group">
                    <p class="snel-naar-welke">
                      <span class="span">Snel naar<br /></span>
                      <span class="text-wrapper-4"
                        >Welke routes zijn er?<br />Opleidingsmogelijkheden<br />Landelijk loket<br />Voor
                        scholieren/studenten<br />Vacatures<br />FAQ<br />Verhalen</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-6"></div>
      <div class="div-7">
        <div class="div-8">
          <div class="text-wrapper-5">Vacatures</div>
          <div class="div-9">
            <div class="div-10">
              <div class="div-11">
                <p class="text-wrapper-6">Atlas College / 15 uur per week</p>
                <div class="text-wrapper-7">Docent Economie</div>
              </div>
              <p class="text-wrapper-8">
                Lorem ipsum dolor sit amet consectetur. Nisl eu volutpat id a. Tempus magna elementum rhoncus platea
                nisl quam. Risus dapibus leo ...
              </p>
              <div class="group-wrapper-2">
                <div class="aanmelden-wrapper"><div class="aanmelden">Bekijk de vacature</div></div>
              </div>
            </div>
            <div class="div-10">
              <div class="div-11">
                <p class="text-wrapper-6">Atlas College / 15 uur per week</p>
                <div class="text-wrapper-7">Docent Economie</div>
              </div>
              <p class="text-wrapper-8">
                Lorem ipsum dolor sit amet consectetur. Nisl eu volutpat id a. Tempus magna elementum rhoncus platea
                nisl quam. Risus dapibus leo ...
              </p>
              <div class="group-wrapper-2">
                <div class="aanmelden-wrapper"><div class="aanmelden">Bekijk de vacature</div></div>
              </div>
            </div>
            <div class="div-10">
              <div class="div-11">
                <p class="text-wrapper-6">Atlas College / 15 uur per week</p>
                <div class="text-wrapper-7">Docent Economie</div>
              </div>
              <p class="text-wrapper-8">
                Lorem ipsum dolor sit amet consectetur. Nisl eu volutpat id a. Tempus magna elementum rhoncus platea
                nisl quam. Risus dapibus leo ...
              </p>
              <div class="group-wrapper-2">
                <div class="aanmelden-wrapper"><div class="aanmelden">Bekijk de vacature</div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-wrapper">
          <div class="group-3"><div class="text-wrapper-2">Bekijk alle vacatures</div></div>
        </div>
      </div>
      <div class="div-12">
        <div class="group-wrapper-3">
          <div class="group-4">
            <div class="group-5">
              <div class="verhalen-vlogs">Verhalen &amp; Vlogs</div>
              <div class="group-6">
                <div class="onderwijs-is-de-wrapper">
                  <p class="onderwijs-is-de">
                    &#34;Onderwijs is de sleutel tot een betere wereld, waar elke leerling de kans krijgt om te bloeien
                    en te groeien.&#34;
                  </p>
                </div>
              </div>
              <div class="group-7">
                <div class="overlap-2">
                  <p class="onderwijs-is-de-2">
                    &#34;Onderwijs is de sleutel tot een betere wereld, waar elke leerling de kans krijgt om te bloeien
                    en te groeien.&#34;
                  </p>
                </div>
              </div>
              <div class="group-8">
                <div class="overlap-3">
                  <p class="text-wrapper-9">Vlog: De dag van Myrthe</p>
                  <div class="polygon-wrapper"><img class="polygon" src="img/polygon-1.svg" /></div>
                </div>
              </div>
              <div class="group-wrapper-4">
                <div class="group-9"><div class="text-wrapper-2">Bekijk alle verhalen</div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-13">
          <div class="group-10">
            <div class="overlap-4">
              <div class="rectangle-2"></div>
              <img class="mask-group" src="img/mask-group.png" />
              <div class="div-14">
                <div class="group-11">
                  <div class="overlap-group-2">
                    <div class="div-wrapper-2">
                      <p class="text-wrapper-10">
                        Morbi nec rhoncus lectus. Morbi eleifend urna ac purus auctor, non porttitor massa semper.?
                      </p>
                    </div>
                    <img class="group-12" src="img/group-15-2.png" />
                  </div>
                </div>
                <div class="group-13">
                  <div class="overlap-5">
                    <div class="div-wrapper-3"><div class="text-wrapper-11">Nulla cursus venenatis urna?</div></div>
                    <img class="group-14" src="img/group-14-2.png" />
                  </div>
                </div>
                <div class="group-11">
                  <div class="overlap-group-2">
                    <div class="div-wrapper-2">
                      <p class="text-wrapper-10">
                        Morbi nec rhoncus lectus. Morbi eleifend urna ac purus auctor, non porttitor?
                      </p>
                    </div>
                    <img class="group-12" src="img/group-15.png" />
                  </div>
                </div>
                <div class="group-13">
                  <div class="overlap-5">
                    <div class="div-wrapper-3"><p class="text-wrapper-11">Nulla cursus venenatis urna maximus?</p></div>
                    <img class="group-14" src="img/group-14.png" />
                  </div>
                </div>
              </div>
              <div class="div-15">
                <div class="text-wrapper-12">Veelgestelde vragen</div>
                <p class="text-wrapper-13">
                  Hollands Noorden streeft naar één lerende regio waar scholen en opleiders samenwerken om goed
                  onderwijs te bieden dat meebeweegt met de samenleving.
                </p>
                <div class="group-15">
                  <div class="div-16">
                    <p class="text-wrapper-14">Staat je vraag er niet tussen?</p>
                    <div class="group-wrapper">
                      <div class="stel-je-vraag-wrapper"><div class="text-wrapper-2">Stel je vraag</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-2">
            <div class="overlap-6">
              <footer class="footer">
                <div class="overlap-7">
                  <div class="div-17">
                    <div class="div-18">
                      <div class="column"></div>
                      <div class="column">
                        <div class="div-19">
                          <div class="text-wrapper-15">Menu</div>
                          <div class="starten-groeien">Starten<br />Groeien<br />Vernieuwen</div>
                        </div>
                      </div>
                      <div class="column-2">
                        <div class="div-19">
                          <div class="text-wrapper-15">Snel naar</div>
                          <div class="vacatures-over-ons-wrapper">
                            <div class="vacatures-over-ons">Vacatures<br />Over ons<br />Nieuws<br />Agenda</div>
                          </div>
                        </div>
                      </div>
                      <div class="div-20">
                        <div class="group-16">
                          <div class="column-wrapper">
                            <div class="column-3"><div class="text-wrapper-16">Volg ons op</div></div>
                          </div>
                          <div class="volg-ons-ook-op">
                            <div class="group-17">
                              <div class="group-18">
                                <div class="group-17">
                                  <div class="instagram-wrapper">
                                    <div class="instagram">
                                      <div class="overlap-group-3">
                                        <div class="group-19"></div>
                                        <div class="group-20"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="facebook-app-symbol-wrapper">
                                    <div class="facebook-app-symbol"><img class="group-21" src="img/image.png" /></div>
                                  </div>
                                </div>
                              </div>
                              <div class="group-22">
                                <div class="linkedin-wrapper">
                                  <div class="linkedin"><img class="x-linkedin" src="img/x31-0-linkedin.png" /></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-wrapper-17">Nieuwsbrief</div>
                      </div>
                    </div>
                    <div class="group-23">
                      <div class="group-24">
                        <div class="frame-wrapper-2"><div class="div-21"></div></div>
                      </div>
                    </div>
                  </div>
                  <p class="copyright">
                    Copyright: Onderwijsregio Hollands Noorden&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;Ontwerp
                    en realisatie 2025:
                    Raadhuis.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy
                    statement&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Disclaimer
                  </p>
                </div>
              </footer>
              <img class="laag-3" src="img/laag-1-3.svg" />
              <div class="div-22">
                <div class="group-25">
                  <div class="overlap-group-4"><div class="text-wrapper-18">E-mailadres</div></div>
                </div>
                <div class="div-wrapper-4"><div class="text-wrapper-19">Verzenden</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

