---
layout: base
eleventyNavigation:
key: Zoeken
order: 3
meta:
title: Zoeken binnen website
description: Waar ben je naar opzoek? Typ het in de zoekbalk hieronder.
---

<section class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-content-600 ring-1 ring-content-900/10 hover:ring-content-900/20">
                Hoe werkt Tailwind CSS in de praktijk?
                <a href="#" class="font-semibold text-indigo-600">
                    <span class="absolute inset-0" aria-hidden="true"></span>Lees verder
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </div>
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-content-900 sm:text-6xl">{{ meta.title }}</h1>
            <p class="mt-6 text-lg leading-8 text-content-600">{{ meta.description }}</p>
            <form action="#" class="mt-10 flex items-center justify-center gap-x-6 text-left">
                <div>
                    <div class="flex flex-row flex-nowrap mt-2 gap-x-2">
                        <label for="search" class="sr-only ml-px block pl-4 text-sm font-medium leading-6 text-content-900">Zoeken</label>
                        <input type="text" name="search" id="search" class="block w-full rounded-md border-0 px-4 py-2 text-content-900 shadow-sm ring-1 ring-inset ring-content-300 placeholder:text-content-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Zoeken…" />
                        <a href="#" class="btn btn-primary">Zoeken</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
</section>